body{
    margin: 0 auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
    margin: 0 auto;
    width: 85vw;

    padding-top: 20px;
}




           /*               MENU COMPLETO                */
  .menu{
    padding-bottom: 15px;
  }
  
 .menu-nav{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
 }


          /*                   MENU LOGO                       */


 .logo{
    width: 20%;
    height: 100%;
    /* background-color: #4CAF50; */
 }

 .img-logo {
  background-image: url(../img/logo2.png);
  background-size: cover;
  background-position: center;
  width: 95px;
  height: 95px;
}


             /*                      MENU NAVEGAÇÃO                */


  .nav{
    width: 55%;
    height: 100%;
    /* background-color: #58004d; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav{
    margin-top: 35px;
  }

  ul{
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
  }
  li{
    margin: 10px;
  }
  a{
    padding: 10px;
    color: #2e2e2e;
    font-size: 130%;
    text-decoration: none;
  }
  a:hover{
    border-bottom: solid 2px rgb(27, 78, 243);
    color: rgb(27, 78, 243);
  }


                  /*                 linha                 */
  
    .linha{
      width: 70%;
      height: 1px;
      background-color: #727171eb;
      margin: auto;
    }


                      /*                 Projetos                 */

    .Selec-Pro{
    flex-direction: column;
    display: flex;
    align-items: center;
    }

    .titulo{
      font-size: 3vw;
      display: flex;
      justify-content: center;
      margin: 0;
    }

    .titulo-p{
      display: flex;
      width: 20vw;
      margin: 0;
      border-bottom: 2px solid #1345fd;
      color: #1345fd;
      justify-content: center;
      padding-bottom: 7px;
      
    }

    .Selec-Pro section{
      display: flex;
      flex-wrap: wrap;
      width: 48vw;
      margin-top: 15px;

}
    

    .Projetos{
      width: 15vw;
      height: 15vw;
      background-color: #1345fd;
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .P-T{
      color: #ffffff00;
      width: 100%;
      height: 100%;
      margin: 0;
    }
    .P-T:hover{
      width: 15vw;
      height: 15vw;
      background-color: #000000d5;
      color: beige;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.titulo-p{
  margin-top: 5vw;
  margin-bottom: 5vw;
}

    